//- Place the sections for the slide show in here
//- You can do so like this:
//- include {filename}.pug 
//- Do this for every section you want to have in the slideshow
include ../templates/cool-stuff.pug
include ../templates/iframe-background.pug
include mixins.pug

section
  include 1_introduction.pug
section
  include 2_Tezos.pug
section
  include 3_Presto.pug
section 
  include 4_Presto_Plugins.pug
section 
  include 5_Planning.pug
section 
  include thanks.pug