+animate 
  h2 
    | Creating a 
    span(style="background-color: black;color: white;") Presto Plugin 
    | for 
    +TezosLogo
    | Analysis
  p(style="color: gray;") Jaap Meerhof, Wilco van Beijnum, Martijn Brattinga & Frank Nijeboer