include ../templates/iframe-background.pug
include ../templates/cool-stuff.pug

mixin TezosLogo(height='100px')
  span(style="position: relative; top: 40px; margin-right: 25px") 
    img(src="assets/tezos-logo-name.png", alt="" height=height) 

+animate 
  h2 
    | What is 
    +TezosLogo
    | ?
+iFrameBackground("https://tezos.com/")
section(data-auto-animate='')
  h2 
    | Defining 
    +TezosLogo
  .fragment Smart Contracts
  .fragment Proof of Stake
  .fragment Governance Built-in

section 
  h2 Main Ideas 
  .fragment We don't want to fork when something must change
  .fragment People Should have a say on the course of the Blockchain
  .fragment Proof of Stake > Proof of Work
section 
  img(src="assets/TezosNews.png", alt="")
