include ../templates/iframe-background.pug
include ../templates/cool-stuff.pug

mixin TezosLogo(height='100px')
  span(style="position: relative; top: 40px; margin-right: 25px") 
    img(src="assets/tezos-logo-name.png", alt="" height=height) 

+animate 
  h2 
    | What is 
    +TezosLogo
    | ?
+iFrameBackground("https://tezos.com/")
section(data-auto-animate='')
  h2 
    | Defining 
    +TezosLogo
  .fragment Smart Contracts
  .fragment Proof of Stake
  .fragment Governance Built-in
section(data-auto-animate='', data-auto-animate-duration="1s")
  h2 
    +TezosLogo("200px") 
    | <br>History

section 
  h2 Arthur and Kathleen Breitman
  img(src="https://s1.reutersmedia.net/resources/r/?m=02&d=20171201&t=2&i=1212014717&w=&fh=545px&fw=&ll=&pl=&sq=&r=LYNXMPEDB02X0", alt="")
section 
  h2 Main Ideas 
  .fragment Forks are not Nice
  .fragment People Should have a say on the course of the Blockchain
  .fragment Proof of Stake > Proof of Work
section 
  h2 Very Big ICO

section 
  h1 
    +SelectedSpan("But...")
section 
  img(src="assets/TezosNews.png", alt="")
