section 
  h2
    +PrestoLogo
    | Plugins

section 
  h1 
    +PrestoLogo
    +EtherLogo

+iFrameBackground("https://github.com/xiaoyao1991/presto-ethereum")

section 
  h1(style="font-size: 50sp; color: #2C7DF7") 
    +PrestoLogo 
    +TezosLogo
    | ?

section 
  +gradientH2 Benefits
  .fragment Tezos could be big
  .fragment Simple PoC should be possible
  .fragment Open source could pick this up later
