section 
  h2
    +PrestoLogo
    | Plugins

section 
  h1 
    +PrestoLogo
    +EtherLogo

+iFrameBackground("https://github.com/xiaoyao1991/presto-ethereum")

section 
  h1(style="font-size: 50sp; color: #2C7DF7") 
    +PrestoLogo 
    +TezosLogo
    | ?
