section 
    +gradientH1 Motivation?

section 
    +gradientH2 Tezos to the moon 
    .fragment Help tezos community
    .fragment Tezos seems like a good cryptocurrency 🚀
    .fragment Ethereum plugin is popular
    .fragment Getting to know Tezos better
    .fragment Open source could continue project later

section 
  +gradientH2 Why was Ethereum plugin popular
  .fragment Get statistics about the blockchain
  .fragment Find vulnerable contracts by looking at the scripts
  .fragment TODO more reasons
