section 
    +gradientH1 Motivation?

section 
    +gradientH2 Tezos to the moon 
    .fragment Help tezos community
    .fragment Tezos seems like a good cryptocurrency 🚀
    .fragment Ethereum plugin is popular
    .fragment Getting to know Tezos better

+iFrameBackground("https://github.com/xiaoyao1991/presto-ethereum")

section 
  h1(style="font-size: 50sp; color: #2C7DF7") 
    +PrestoLogo 
    +TezosLogo
    | ?

section 
  h2 Benefits
  .fragment Tezos could be big
  .fragment Scan the network
  .fragment Find vulnerabilities by looking at contracts
  .fragment Open source could pick this up later
