section 
    +gradientH1 Making The plugin
section
    +gradientH2 The steps we took
    p Got ethereum plugin working 
    p learned how the ethereum plugin works
    p close to zero documentation!
    p rewriting for Tezos API (tzstats)
    p adding as many usages as possible in timeslot