
mixin LogoSpan(logo, height='100px')
  span(style="position: relative; top: 40px; margin-right: 25px") 
    img(src=logo, alt="" height=height) 

mixin PrestoLogo(height='120px')
  +LogoSpan("assets/presto-logo.png", height)

mixin TezosLogo(height='100px')
  +LogoSpan("assets/tezos-logo-name.png", height)

mixin EtherLogo(height='175px')
  +LogoSpan("assets/Ethereum-Logo.png", height)