mixin SelectedSpan(text)
  span(style="background-color: black;color: white;")= text

mixin animate 
  section(data-auto-animate='')
    block

mixin gradientH1
  h1(style="background: linear-gradient(to right, #2C7DF7 0%, #5B87DA 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;")
    block

mixin gradientH2 
  h2(style="background: linear-gradient(to right, #2C7DF7 0%, #5B87DA 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;")
    block